In [3]:
%matplotlib inline
import pandas as pd

In [8]:
cast = pd.read_csv('E:/TOP MENTOR DATA SCIENCE/8th October 2023(python advance)/batch88assignmentsanddatasets/cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [9]:

num_movies = cast.shape[0]
print("Number of movies listed:", num_movies)

Number of movies listed: 3611212

### What are the earliest two films listed in the titles dataframe?

In [10]:

earliest_films = cast.sort_values(by='year').head(2)
print(earliest_films[['title', 'year']])

              title  year
2514470  Miss Jerry  1894
555929   Miss Jerry  1894

### How many movies have the title "Hamlet"?

In [11]:

num_hamlet_movies = cast[cast['title'] == 'Hamlet'].shape[0]
print("Number of movies with the title 'Hamlet':", num_hamlet_movies)

Number of movies with the title 'Hamlet': 313

### How many movies are titled "North by Northwest"?

In [12]:

num_north_by_northwest_movies = cast[cast['title'] == 'North by Northwest'].shape[0]
print("Number of movies with the title 'North by Northwest':", num_north_by_northwest_movies)

Number of movies with the title 'North by Northwest': 112

### When was the first movie titled "Hamlet" made?

In [13]:

hamlet_movies = cast[cast['title'] == 'Hamlet']
earliest_hamlet_movie_year = hamlet_movies['year'].min()
print("The first movie titled 'Hamlet' was made in:", earliest_hamlet_movie_year)

The first movie titled 'Hamlet' was made in: 1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [14]:

treasure_island_movies = cast[cast['title'] == 'Treasure Island']
treasure_island_movies_sorted = treasure_island_movies.sort_values(by='year')
print(treasure_island_movies_sorted[['title', 'year']])

                   title  year
830114   Treasure Island  1918
840745   Treasure Island  1918
909157   Treasure Island  1918
3298306  Treasure Island  1918
1715014  Treasure Island  1918
...                  ...   ...
2420089  Treasure Island  1999
1637661  Treasure Island  1999
1375015  Treasure Island  1999
1797264  Treasure Island  1999
307749   Treasure Island  1999

[190 rows x 2 columns]

### How many movies were made in the year 1950?

In [15]:

movies_1950 = cast[cast['year'] == 1950]
num_movies_1950 = movies_1950.shape[0]
print("Number of movies made in the year 1950:", num_movies_1950)

Number of movies made in the year 1950: 22006

### How many movies were made in the year 1960?

In [16]:
movies_1960 = cast[cast['year'] == 1960]
num_movies_1960 = movies_1960.shape[0]
print("Number of movies made in the year 1960:", num_movies_1960)

Number of movies made in the year 1960: 18456

### How many movies were made from 1950 through 1959?

In [17]:

movies_1950_to_1959 = cast[(cast['year'] >= 1950) & (cast['year'] <= 1959)]
num_movies_1950_to_1959 = movies_1950_to_1959.shape[0]
print("Number of movies made from 1950 through 1959:", num_movies_1950_to_1959)

Number of movies made from 1950 through 1959: 210986

### In what years has a movie titled "Batman" been released?

In [18]:

batman_movies = cast[cast['title'] == 'Batman']
batman_years = batman_movies['year'].unique()
print("Years in which a movie titled 'Batman' has been released:", batman_years)

Years in which a movie titled 'Batman' has been released: [1943 1989]

### How many roles were there in the movie "Inception"?

In [19]:

inception_roles = cast[cast['title'] == 'Inception']['character']
num_inception_roles = inception_roles.nunique()
print("Number of roles in the movie 'Inception':", num_inception_roles)

Number of roles in the movie 'Inception': 55

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [20]:

inception_roles = cast[(cast['title'] == 'Inception') & (cast['n'].isnull())]
num_inception_roles_no_rank = inception_roles.shape[0]
print("Number of roles in the movie 'Inception' that are not ranked by an 'n' value:", num_inception_roles_no_rank)

Number of roles in the movie 'Inception' that are not ranked by an 'n' value: 26

### But how many roles in the movie "Inception" did receive an "n" value?

In [21]:

inception_roles_with_rank = cast[(cast['title'] == 'Inception') & (~cast['n'].isnull())]
num_inception_roles_with_rank = inception_roles_with_rank.shape[0]
print("Number of roles in the movie 'Inception' that received an 'n' value:", num_inception_roles_with_rank)

Number of roles in the movie 'Inception' that received an 'n' value: 51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [22]:

north_by_northwest_cast = cast[(cast['title'] == 'North by Northwest') & (~cast['n'].isnull())]
north_by_northwest_cast_sorted = north_by_northwest_cast.sort_values(by='n')
print(north_by_northwest_cast_sorted[['name', 'character', 'n']])

                         name                    character     n
840374             Cary Grant           Roger O. Thornhill   1.0
3361396       Eva Marie Saint                  Eve Kendall   2.0
1404704           James Mason              Phillip Vandamm   3.0
3024085   Jessie Royce Landis              Clara Thornhill   4.0
343701         Leo G. Carroll                The Professor   5.0
2923056  Josephine Hutchinson                Mrs. Townsend   6.0
1634552           Philip Ober              Lester Townsend   7.0
1229083         Martin Landau                      Leonard   8.0
2357939         Adam Williams                     Valerian   9.0
1746383          Edward Platt              Victor Larrabee  10.0
642085      Robert Ellenstein                        Licht  11.0
2212083          Les Tremayne                   Auctioneer  12.0
447893        Philip Coolidge                    Dr. Cross  13.0
1454363         Patrick McVey               Sergeant Flamm  14.0
198496           Edward Binns               Captain Junket  15.0
1334726             Ken Lynch  Charley - Chicago Policeman  16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [23]:

sleuth_1972_cast = cast[(cast['title'] == 'Sleuth') & (cast['year'] == 1972)]
sleuth_1972_cast_sorted = sleuth_1972_cast.sort_values(by='n')
print(sleuth_1972_cast_sorted[['name', 'character', 'n']])

                       name                   character    n
1644328    Laurence Olivier                 Andrew Wyke  1.0
314691        Michael Caine                 Milo Tindle  2.0
360365       Alec Cawthorne           Inspector Doppler  3.0
1412647  John (II) Matthews  Detective Sergeant Tarrant  4.0
2619278  Eve (III) Channing             Marguerite Wyke  5.0
1396572        Teddy Martin      Police Constable Higgs  6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [24]:

sleuth_2007_cast = cast[(cast['title'] == 'Sleuth') & (cast['year'] == 2007)]
sleuth_2007_cast_sorted = sleuth_2007_cast.sort_values(by='n')
print(sleuth_2007_cast_sorted[['name', 'character', 'n']])

                        name          character    n
314692         Michael Caine             Andrew  1.0
1246855             Jude Law               Milo  2.0
1741124        Harold Pinter        Man on T.V.  3.0
250297       Kenneth Branagh  Other Man on T.V.  NaN
360366   Alec (II) Cawthorne  Inspector Doppler  NaN
2619277    Eve (II) Channing    Marguerite Wyke  NaN
3223502    Carmel O'Sullivan             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [25]:

hamlet_1921_roles = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1921)]
num_hamlet_1921_roles = hamlet_1921_roles['character'].nunique()
print("Number of roles credited in the silent 1921 version of 'Hamlet':", num_hamlet_1921_roles)

Number of roles credited in the silent 1921 version of 'Hamlet': 9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [26]:

branagh_hamlet_roles = cast[(cast['title'].str.contains('Hamlet')) & (cast['year'] == 1996)]
num_branagh_hamlet_roles = branagh_hamlet_roles['character'].nunique()
print("Number of roles credited in Branagh's 1996 adaptation of 'Hamlet':", num_branagh_hamlet_roles)

Number of roles credited in Branagh's 1996 adaptation of 'Hamlet': 51

### How many "Hamlet" roles have been listed in all film credits through history?

In [28]:

cast['title'].fillna('', inplace=True)


hamlet_roles = cast[cast['title'].str.contains('Hamlet')]


num_hamlet_roles = hamlet_roles['character'].nunique()
print("Number of 'Hamlet' roles listed in all film credits through history:", num_hamlet_roles)

Number of 'Hamlet' roles listed in all film credits through history: 474

### How many people have played an "Ophelia"?

In [29]:

ophelia_actors = cast[cast['character'] == 'Ophelia']
num_ophelia_actors = ophelia_actors['name'].nunique()
print("Number of people who have played 'Ophelia':", num_ophelia_actors)

Number of people who have played 'Ophelia': 109

### How many people have played a role called "The Dude"?

In [30]:

the_dude_actors = cast[cast['character'] == 'The Dude']
num_the_dude_actors = the_dude_actors['name'].nunique()
print("Number of people who have played a role called 'The Dude':", num_the_dude_actors)

Number of people who have played a role called 'The Dude': 18

### How many people have played a role called "The Stranger"?

In [31]:

the_stranger_actors = cast[cast['character'] == 'The Stranger']
num_the_stranger_actors = the_stranger_actors['name'].nunique()
print("Number of people who have played a role called 'The Stranger':", num_the_stranger_actors)

Number of people who have played a role called 'The Stranger': 197

### How many roles has Sidney Poitier played throughout his career?

In [32]:

sidney_poitier_roles = cast[cast['name'] == 'Sidney Poitier']
num_sidney_poitier_roles = sidney_poitier_roles['character'].nunique()
print("Number of roles Sidney Poitier has played throughout his career:", num_sidney_poitier_roles)

Number of roles Sidney Poitier has played throughout his career: 41

### How many roles has Judi Dench played?

In [33]:

judi_dench_roles = cast[cast['name'] == 'Judi Dench']
num_judi_dench_roles = judi_dench_roles['character'].nunique()
print("Number of roles Judi Dench has played:", num_judi_dench_roles)

Number of roles Judi Dench has played: 46

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [34]:

cary_grant_supporting_roles_1940s = cast[(cast['name'] == 'Cary Grant') & (cast['n'] == 2) & (cast['year'] >= 1940) & (cast['year'] <= 1949)]
cary_grant_supporting_roles_1940s_sorted = cary_grant_supporting_roles_1940s.sort_values(by='year')
print(cary_grant_supporting_roles_1940s_sorted[['year', 'title', 'character']])

        year             title    character
840371  1940  My Favorite Wife         Nick
840381  1941    Penny Serenade  Roger Adams

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [35]:

cary_grant_leading_roles_1940s = cast[(cast['name'] == 'Cary Grant') & (cast['n'] == 1) & (cast['year'] >= 1940) & (cast['year'] <= 1949)]
cary_grant_leading_roles_1940s_sorted = cary_grant_leading_roles_1940s.sort_values(by='year')
print(cary_grant_leading_roles_1940s_sorted[['year', 'title', 'character']])

        year                                 title              character
840397  1940               The Howards of Virginia            Matt Howard
840353  1940                       His Girl Friday           Walter Burns
840399  1940                The Philadelphia Story     C. K. Dexter Haven
840386  1941                             Suspicion                Johnnie
840401  1942                  The Talk of the Town           Leopold Dilg
840377  1942                 Once Upon a Honeymoon  Patrick 'Pat' O'Toole
840344  1943                     Destination Tokyo          Capt. Cassidy
840369  1943                             Mr. Lucky              Joe Adams
840370  1943                             Mr. Lucky        Joe Bascopolous
840378  1944                      Once Upon a Time            Jerry Flynn
840336  1944                  Arsenic and Old Lace      Mortimer Brewster
840373  1944             None But the Lonely Heart             Ernie Mott
840372  1946                         Night and Day            Cole Porter
840375  1946                             Notorious                 Devlin
840393  1947      The Bachelor and the Bobby-Soxer            Dick Nugent
840394  1947                     The Bishop's Wife                 Dudley
840368  1948  Mr. Blandings Builds His Dream House          Jim Blandings
840348  1948          Every Girl Should Be Married      Dr. Madison Brown
840357  1949                I Was a Male War Bride  Captain Henri Rochard

### How many roles were available for actors in the 1950s?

In [36]:

roles_1950s = cast[(cast['year'] >= 1950) & (cast['year'] <= 1959) & (cast['type'] == 'actor')]
num_roles_1950s = roles_1950s.shape[0]
print("Number of roles available for actors in the 1950s:", num_roles_1950s)

Number of roles available for actors in the 1950s: 154727

### How many roles were available for actresses in the 1950s?

In [37]:

roles_1950s_actresses = cast[(cast['year'] >= 1950) & (cast['year'] <= 1959) & (cast['type'] == 'actress')]
num_roles_1950s_actresses = roles_1950s_actresses.shape[0]
print("Number of roles available for actresses in the 1950s:", num_roles_1950s_actresses)

Number of roles available for actresses in the 1950s: 56259

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [38]:

leading_roles_until_1980 = cast[(cast['n'] == 1) & (cast['year'] <= 1980)]
num_leading_roles_until_1980 = leading_roles_until_1980.shape[0]
print("Number of leading roles (n=1) available from the beginning of film history through 1980:", num_leading_roles_until_1980)

Number of leading roles (n=1) available from the beginning of film history through 1980: 63924

### How many non-leading roles were available through from the beginning of film history through 1980?

In [39]:

non_leading_roles_until_1980 = cast[(cast['n'] != 1) & (cast['year'] <= 1980)]
num_non_leading_roles_until_1980 = non_leading_roles_until_1980.shape[0]
print("Number of non-leading roles available from the beginning of film history through 1980:", num_non_leading_roles_until_1980)

Number of non-leading roles available from the beginning of film history through 1980: 1094780

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [40]:

roles_without_rank_until_1980 = cast[(cast['n'].isnull()) & (cast['year'] <= 1980)]
num_roles_without_rank_until_1980 = roles_without_rank_until_1980.shape[0]
print("Number of roles through 1980 that did not warrant a numeric 'n' rank:", num_roles_without_rank_until_1980)

Number of roles through 1980 that did not warrant a numeric 'n' rank: 438086